@use "variables" as *;

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.details-dropdown__summary {
  position: relative;

  box-sizing: border-box;
  margin: 0 0.833em;
  padding: 0.611em 0.833em;
  padding-right: 2.778em;

  font-size: 1.125em;

  border: 0.125rem solid $heavy-text-color;

  list-style: none;

  cursor: pointer;
  transition: outline-offset 220ms ease-in-out;

  &::marker {
    display: none;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    width: 2.667em;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l8 8 8-8' stroke='%23151C22' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1.222em 0.611em;
    background-position: 50% 50%;

    transition: transform 0.5s;
  }

  &:focus {
    outline: 0.125em solid $state-color;
    outline-offset: 0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.125em solid $state-color;
    outline-offset: 0.25em;
  }
}

.details-dropdown[open] {
  & > .details-dropdown__summary::after {
    transform: rotate(180deg);
  }

  & > .details-dropdown__summary ~ .details-dropdown__content {
    animation: sweep 0.5s ease-in-out;
  }
}

.details-dropdown[open]:not(.details-dropdown--nojs) {
  & > .details-dropdown__summary ~ .details-dropdown__content {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;
  }
}

.details-dropdown--nojs .details-dropdown__close {
  display: none;
}

.details-dropdown__content {
  box-sizing: border-box;

  background-color: $body-bg-color;
}

@media (min-width: $tablet-width) {
  .details-dropdown__summary {
    margin: 0;
    padding-left: 0.722em;
    padding-top: 0.722em;
    padding-bottom: 0.722em;
  }

  .details-dropdown[open]:not(.details-dropdown--nojs) {
    position: relative;

    & > .details-dropdown__summary ~ .details-dropdown__content {
      position: absolute;
      top: 100%;
      bottom: auto;
    }
  }

  .details-dropdown .details-dropdown__close {
    display: none;
  }

  .details-dropdown__content {
    border: 0.125rem solid $heavy-text-color;
    border-top: none;
  }
}
