@use "variables" as *;

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  padding-bottom: 1.563em;

  &::before {
    content: "Filters";

    flex-shrink: 0;
    flex-basis: auto;
    order: 2;

    display: block;
    width: 33%;
    margin: 0 auto;
    margin-left: calc(33.5% - 6.25rem);
    padding: 1em 0.556em;

    font-family: $work-sans-700-800-font-family;
    font-weight: 700;
    font-size: 1.125em;
    text-align: center;
  }
}

.filter-form__accordion {
  flex-shrink: 0;
  flex-basis: auto;
  order: 4;

  min-height: 15.625em;
  margin-bottom: 3.125em;
}

.filter-form__submit {
  flex-shrink: 0;
  flex-basis: auto;
  order: 5;

  margin: 0 auto;
}

.filter-form__reset,
.filter-form__close {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 6.25em;
  margin: 0;
  padding: 1.071em;
  padding-top: 1.357em;

  font-weight: inherit;
  font-size: 0.875em;
  line-height: inherit;
  color: inherit;

  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: 220ms ease-in-out;

  &:focus {
    outline: 0.125em solid $state-color;
    outline-offset: -0.125em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.125em solid $state-color;
    outline-offset: -0.125em;
  }
}

.filter-form__reset {
  left: 0;

  order: 1;
}

.filter-form__close {
  right: 0;

  order: 3;

  text-align: right;
}

@media (min-width: $tablet-width) {
  .filter-form {
    display: block;
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }

  .filter-form__accordion {
    min-height: auto;
    margin-bottom: 2.5em;
  }

  .filter-form__submit {
    margin: 0;
  }

  .filter-form__reset {
    width: 100%;
    padding: 1.571em 0.929em;
    padding-bottom: 1.5em;

    text-align: center;

    &:focus {
      outline: 0.25em solid $state-color;
      outline-offset: -0.25em;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 0.25em solid $state-color;
      outline-offset: -0.25em;
    }
  }
}
