@use "variables" as *;

.search {
  position: relative;

  flex-shrink: 0;
  flex-basis: auto;

  display: inline-flex;
  align-items: flex-start;
}

.search__label {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 2.5em;
  height: 4em;
  padding: 1.5em 0.75em;

  color: inherit;

  cursor: pointer;

  &:hover {
    color: $state-color;
  }
}

.search__icon {
  display: block;
  width: 1em;
  height: 1em;

  stroke: currentColor;
}

.search__input {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  display: block;
  width: 15em;
  height: 4em;
  padding: 1.313em 0.625em;
  padding-right: 3em;

  font-weight: inherit;
  font-size: 1em;
  line-height: 1.125;
  color: inherit;

  background-color: $body-bg-color;
  border: 0.125em solid $heavy-text-color;
  border-radius: 0.2em;

  pointer-events: none;

  opacity: 0;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.3s ease-in;

  &::placeholder {
    color: $state-color;
    opacity: 1;
  }

  &:focus,
  .search:active &,
  .search--notempty & {
    z-index: 10;

    pointer-events: auto;

    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 50%;
  }

  &:focus {
    border-color: transparent;

    outline: 0.125em solid $state-color;
    outline-offset: -0.125em;
  }

  &:focus:not(:focus-visible) {
    border-color: $heavy-text-color;

    outline: none;
  }

  &:focus-visible {
    border-color: transparent;

    outline: 0.125em solid $state-color;
    outline-offset: -0.125em;
  }
}

.search__button {
  position: absolute;
  z-index: -1;
  top: 0.75em;
  right: 0.125em;

  display: block;
  width: 2.5em;
  height: 2.5em;
  padding: 0.75em;
  padding-left: 0.875em;
  padding-right: 0.625em;

  color: inherit;

  background-color: transparent;
  border: none;
  border-radius: 0.2em;

  pointer-events: none;

  opacity: 0;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.3s ease-in;

  .search__input:focus ~ &,
  .search:active &,
  .search--notempty & {
    z-index: 10;

    cursor: pointer;
    pointer-events: auto;

    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 50%;
  }

  &:hover,
  &:focus,
  &:active {
    color: $state-color;
  }

  &:focus {
    outline: 0.125em solid $state-color;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.125em solid $state-color;
  }
}

@media (min-width: $tablet-width) {
  .search__label {
    width: 3.125em;
    padding: 1.438em 1em;
  }

  .search__icon {
    width: 1.125em;
    height: 1.125em;
  }

  .search__input {
    width: 21.25em;
    padding-right: 3.625em;
  }

  .search__button {
    top: 0.688em;

    width: 3.125em;
    height: 2.625em;
    padding-left: 1.125em;
    padding-right: 0.875em;
  }
}

@media (min-width: $desktop-width) {
  .search--index {
    & .search__label {
      height: 3.25em;
      padding-top: 1.063em;
      padding-bottom: 1.063em;
    }

    & .search__input {
      width: 31.25em;
      height: 3.25em;
      padding-top: 0.938em;
      padding-bottom: 0.938em;
    }

    & .search__button {
      top: 0.313em;
    }
  }
}
