@use "variables" as *;

@mixin reset-list() {
  padding: 0;
  list-style: none;
}

@mixin break-word() {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin title-font() {
  font-family: $work-sans-700-800-font-family;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.154;

  @media (min-width: $tablet-width) {
    font-size: 1.75em;
    line-height: 1.179;
  }

  @media (min-width: $desktop-width) {
    font-size: 2em;
    line-height: 1.188;
  }
}

@mixin track() {
  width: 100%;
  height: 0.125rem;

  border-color: transparent;
  background-color: $heavy-text-color;
}

@mixin track-advanced() {
  height: 100%;

  background: none;
}

@mixin thumb() {
  width: $d;
  height: $d;
  margin: 0;

  background-color: $heavy-text-color;
  border: none;
  border-radius: 50%;

  pointer-events: auto;
  cursor: ew-resize;
}

@mixin thumb-advanced() {
  height: $h;

  background-color: transparent;
  background-image: radial-gradient(circle, var(--col) calc(#{$r} - 0.063em), rgba(255, 255, 255, 0) $r);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% calc(0.75 * #{$h});
  border-radius: 0;
}
